@import "sanfrancisco-font.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body{

}

.flexbox-container{
    height: 100%; /** IE 6 */
    min-height: 100%;
}

.landing-text{
    font-family: "SF Mono";
    font-weight: 500;
    font-size: 3rem;
}

.scroll{
    background-color: aquamarine;
    height: 500px;
}

::selection {
    background: #ebeb34; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ebeb34; /* Gecko Browsers */
  }